*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Sora", serif;
}
.banner{
    margin-top: 350px;
}
.banner-image{
    width: 100%;
    margin-top: -250px;
}
.browse-title{
    font-family: "ADLaM Display", serif;
  font-weight: 400;
  font-style: normal;
}
/* .browse-category{
    max-width: 1320px;
} */
 .browse-category{
    background-color: #FFF9F4;
 }
 .trending-products{
    font-family: "ADLaM Display", serif;
  font-weight: 400;
  font-style: normal;
  /* max-width: 1480 px; */
 }
 /* .mid-dog{
    max-width: 420px;
    height: 402px;
 } */
  .low-price{
    font-family: "ADLaM Display", serif;
  font-weight: 400;
  font-style: normal;
  }
  .cute-dog{
    width: 720px;
    height: 440px;
  }
  .second-card{
    width: 512px;
    height: 440px;
  }
  .footer-container{
    width: 1180px;
    height: 491px;
  }
  .footer-img{
    height: 415px;
    width: 330px;
  }